*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: aliceblue;
}
/* **************************** première partie *********************************** */

.partie_header{
    display: block;
    text-align: center;
    background-color: #670c35;
    padding: 80px 0;
    height: 400px;
}

h1{
    font-size: 4rem;
    margin: 0px 0px 16px;
}

h2{
    font-size: 2.5rem;
    margin: 0px 0px 16px;
}

button{
    text-align: center;
    font-weight: 300;
    font-size: 1.25rem;
    padding: 15px;
    background: #df0d7d;
    margin: 0px 0px 16px;

}

/*  ******************************** partie icons ****************************** */

.icons{
    display: flex;
    flex-direction: row;
    background-color: #8c506b;
    align-items: center;
    justify-content:space-around;
    font-size: 30px;
    line-height: 70px; /* espace entre les lignes */
    height:400px;
}

.icon{
    align-content:center ;
    justify-content:space-around;
}

.fa-solid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
}

/* ******************************** partie client ***************************** */

.client{
    display: flex;
    flex-direction: row;
    background-color: #670c35;
    align-items: center;
    justify-content:space-around;
    height:400px;
}

blockquote{
    display: flex;
    flex-direction:column;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    line-height: 70px;
}

.p_client{
    font-size: 40px;
}

/* ********************************** partie footer **************************** */

.footer{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    text-decoration:none;
    background-color: #8c506b;
    height:400px;
}

.liens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}

.copy {
    font-size: 20px;
    text-align: center;
}

/*  impossible d'enlever la puce aux liens */
li::marker{
    text-decoration:none;
}